.tshirt-container{
    border: 1px solid #c4a3a3;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
}
.tshirt-container img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    
}
.tshirt-details{
     margin-left: 10px;
}
.btn{
    background-color: crimson;
    color: rgb(241, 238, 238);
    border: 0;
    padding: 10px;
    border-radius: 8px;
}